body {
    font-family: "Open Sans", sans-serif;
    background: #121212;
    overflow-x: hidden; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    width: 100%;
    max-width: 1440px; /* Adjust max width as needed */
    margin: 0 auto;
}

.logo {
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.logo a{
    text-decoration: none;
    color: #02BCB5;
}

header{
    background: #121212;
    min-width: 100%;
    opacity: 65%;
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-header-container{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.header-right-container{
    align-items: center;
}

.header-left-container{
    display: flex;
    gap: 37px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li a{
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    color: #B3B3B3;
}

nav ul li a:hover {
    color: #FDFDFF; 
}

.user-actions{
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-actions button {
    background: none;
    border: none;
    color: #B3B3B3;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.user-actions button:hover {
    color: #FDFDFF;
}

.search-box {
    position: relative;
    transition: width 0.3s ease;
    margin-right: 15px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.search-box.active {
    width: 200px;
    cursor: auto;
    overflow: visible;
}

.search-box input {
    background-color: #0a0a0a;
    color: #fff;
    border: none;
    padding: 8px 35px 8px 35px;
    border-radius: 25px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease, padding 0.3s ease;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.search-box.active input {
    opacity: 1;
}

.search-box .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #B3B3B3;
    z-index: 1;
    font-size: 1.5rem;
    left: 10px;
    transition: color 0.3s;
}

.search-box.active .fa-search {
    color: #FDFDFF;
}

.carousel-track {
    display: flex;
    align-items: center; 
    position: relative;
    height: 85vh;
    background: url('images/Didi__lookhorizontal.jpg') no-repeat center center/cover; /* REPLACE with your image path */
    
}
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.1));
    pointer-events: none;
}

.carousel img {
    width: 100%;
}

.carousel-content-container{
    position: relative;
    z-index: 2;
}

.carousel-content {
    max-width: 45%; 
}

.movie-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #FDFDFF;
}

.movie-description{
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
    color: #FDFDFF;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-play {
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    display: inline-flex; 
    align-items: center;
    gap: 8px;
    background-color: #029E98; 
    font-size: 1rem;
    font-weight: bold;
    color: #FDFDFF;
}

.btn-play:hover {
    background-color: #02BCB5; 
}

.btn-add {
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.1); 
    color: #B3B3B3;
    border: 1.5px solid  #B3B3B3;
    border-radius: 50%; 
    width: 36px; 
    height: 36px;
    padding: 0; 
    justify-content: center; 
    font-size: 1.2rem;
}

.btn-add:hover {
    border-color: #FDFDFF;
}

.dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0; 
    margin-left: 50%;
    text-align: center;
    padding-bottom: 45px;
    z-index: 2;
}

.carousel-dots {
    position: absolute;
    bottom: 30px; /* Position from bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3; /* Above overlay */
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #029E98; /* Active dot color */
}

.slide-container{
    align-items: center;
    min-width: 85%;
    position: relative;
    overflow: hidden;
}
.slide-title{
    display: flex;
    margin-top: 3rem;
    font-weight: 600;
    font-size: 2rem;
    color:#FDFDFF;
}
.movie-list-container{
    display: flex;
    gap: 0.9rem;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
    padding: 10px;
    width: max-content;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.5s ease;
}

.movie-card{
    flex: 0 0 auto;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #FDFDFF;
    width: 14rem;
    height: 21rem;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.movie-card:hover{
    transform: scale(1.05);
    z-index: 10;
}

.slider-row-wrapper {
    overflow-x: hidden; 
    position: relative; 
}

.slider-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; 
    background: linear-gradient(to left, rgba(18, 18, 18, 0.3), rgba(102, 102, 102, 0));
    border: none;
    color: #fdfdfd;
    font-size: 3rem; 
    font-weight: bold;
    cursor: pointer;
    padding: 150px 15px; 
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    line-height: 1;
}

.slider-arrow:hover{
    opacity: 100;
}

.next-arrow {
    right: -10px; 
}
.prev-arrow {
    background: linear-gradient(to right, rgba(18, 18, 18, 0.3), rgba(102, 102, 102, 0));
}


@media (max-width: 768px){

    .container {
        max-width: 768px; 
    }

    .logo {
        font-family: "League Spartan", sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
    
    header{
        min-width: 100%;
        padding: 1rem 1rem;
    }
    
    .header-left-container{
        gap: 15px;
    }
    
    nav ul {
        gap: 10px;
    }
    
    nav ul li a{
        font-size: 14px;
    }
    .user-actions{
        gap: 3px;
    }
    
    .user-actions button {
        font-size: 0.9rem;
        padding: 3px;
    }

    .carousel-content {
        max-width: 55%; 
        margin-left: 15px;
    }
    
    .movie-title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .movie-description{
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
    }

    .btn-play {
        padding: 8px 20px;
        gap: 6px;
        font-size: 0.9rem;
    }
    .btn-add {
        width: 30px; 
        height: 30px;
        font-size: 1rem;
    }
    .carousel-dots {
        gap: 6px;
    }
    
    .dot {
        width: 6px;
        height: 6px;
    }

    .slide-container{
        min-width: 85%;
    }
    .slide-title{
        margin-top: 3rem;
        margin-left: 15px;
        font-weight: 600;
        font-size: 1.6rem;
    }
    .movie-list-container{
        gap: 0.6rem;
        padding: 10px;
        width: max-content;
    }
    
    .movie-card{
        width: 8rem;
        height: 12rem;
    }
    
    .slider-row {
        gap: 15px; 
        padding-bottom: 10px; 
    }
    
    .slider-arrow{
        font-size: 2.4rem; 
        padding: 80px 8px; 
        border-radius: 4px;
    }

}

